* {
    box-sizing: border-box;
}
.container{
    font-family: 'Karla', sans-serif;
    width: 70%;
    height: 75vh;
    margin: 80px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 10px 10px #ccc;
    background: #F5F7FB;
    border-radius: 15px;
    position: relative;
    z-index: 0;
}
.upper{
    position: absolute;
    top: 0;
    right: 0;
}
.lower{
    position: absolute;
    bottom: 0;
    left: 0;
}
.start-btn {
    background: #4D5B9E;
    width: 193px;
    height: 52px;
    border-radius: 15px;
    border: 0;
    color: #fff;
    font-weight: 700;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin-top: 25px;
}
.btnCheck{
    display: block;
    margin: 0 auto;
    
}
p{
    font-weight: bold;
}
.card {
    width: 100%;
    height: auto;
    margin: 2em auto;
    border-bottom: 2px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: .4rem .8em;
}
.question {
    width: 100%;
   font-family: Karla;
   font-size: 16px;
   font-weight: 700;
   line-height: 19px;
   letter-spacing: 0em;
   text-align: left;
   color:purple;
   }
ul{
   display: flex;
   width: 100%;
    flex-direction: row;
    justify-content: space-around;
    
    
}

.radio-button {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-right: 10px;
    background-color: #fff;
    color: rgb(26, 24, 24);
    font-size: 14px;
    cursor: pointer;
    border-radius: 30%;
  }
  
   li {
    list-style-type: none;
    float: left;
    margin: 20 5px 0 0;
    width: 100px;
    height: 40px;
    position: relative;
  }
  
   label, input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  input[type="radio"] {
    opacity: 0.01;
    z-index: 100;
    
  }
  
  input[type="radio"]:checked+label,
  .Checked+label {
    background: yellow;
  }
  
  .donate-now label {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-right: 10px;
    background-color: #fff;
    color: rgb(26, 24, 24);
    font-size: 14px;
    cursor: pointer;
    border-radius: 30%;
    z-index: 90;
    text-align: center;
  }
  dr{
    
  }
  

 

